.mb-2r {
  margin-bottom: 2rem;
}
.mb-1688r {
  margin-bottom: 1.1688rem;
}
.mb-1188r {
  margin-bottom: 1.188rem;
}
.mb-1106r {
  margin-bottom: 1.106rem;
}
.mb-0756r {
  margin-bottom: 0.756rem;
}
.mb-0275r {
  margin-bottom: 0.275rem;
}
.mb-0156r {
  margin-bottom: 0.156rem;
}
