@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

body,
main,
p,
button,
input,
select,
ul,
li,
div,
span,
h1,
h2,
header,
form,
label,
small,
option {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-1: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-grey-1: #f8f9fa;
  --color-grey-2: #e9ecef;
  --color-grey-3: #868e96;
  --color-grey-4: #212529;
  --color-white: #ffffff;
}

body,
button,
input,
select {
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 80rem;
  max-width: 100%;
  padding: 0 0.938rem;
  margin: 0 auto;
}

.logo {
  width: 7.688rem;
  height: 1.25rem;
}
