.form-container {
  padding: 2.375rem 1.531rem;

  border: 0.063rem solid var(--color-grey-2);
  border-radius: 0.25rem;
}

.form-label {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-grey-4);
}

input,
select {
  background: var(--color-grey-1);

  padding: 0 1rem;

  border: 0.125rem solid var(--color-grey-1);
  border-radius: 0.5rem;

  outline: none;

  transition: 300ms ease-out;
}

input {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-grey-3);
}

input:focus {
  border: 0.125rem solid var(--color-grey-4);
}
select:focus {
  border: 0.075rem solid var(--color-grey-4);
}

.input-text {
  height: 3.3rem;
}

.input-bg {
  background-image: url("../../assets/rs.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

.input-numberSelect {
  height: 3rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  font-weight: 400;
  font-size: 0.75rem;
  color: #343a40;
}
